<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangwy.apidemokt">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tangwy.apidemokt.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notification -->
        <activity android:name="com.tangwy.apidemokt.ui.notification.NotificationActivity"
            android:parentActivityName="com.tangwy.apidemokt.ui.MainActivity">
            <!-- API < 16 需要这里配置 meta-data -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tangwy.apidemokt.ui.MainActivity"/>
        </activity>
        <!-- 单独的任务栈，并且不暴露在任务列表中 -->
        <activity android:name="com.tangwy.apidemokt.ui.notification.NotificationSpecialActivity"
            android:taskAffinity=""
            android:launchMode="singleTask"
            android:excludeFromRecents="true"/>
        <service android:name="com.tangwy.apidemokt.framework.notification.NotificationService"
            android:process=":notification" />

        <!-- Dialog -->
        <activity android:name="com.tangwy.apidemokt.ui.dialog.DialogActivity"
            android:parentActivityName="com.tangwy.apidemokt.ui.MainActivity">
            <!-- API < 16 需要这里配置 meta-data -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tangwy.apidemokt.ui.MainActivity"/>
        </activity>
    </application>

</manifest>